.wrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
input[type="submit"]{
    cursor: pointer;
}
.wrapper label{
    font-weight: 500;
    width: 100%;
}
.label{
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
}
.passwordWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.pass{
    display: flex;
}
.submitWrapper{
    width: 80%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

span{
    cursor: pointer;
    position: absolute;
    margin-right: 15px;
    user-select: none;

}
.wrapper input{
    width: 98%;
    height: 38px;
    border-radius: 10px;
    border: none;
    background-color: rgb(175, 175, 175);
    text-indent: 15px;
    outline: none;
    color: #ffffff;
}
.errorAll input{
    outline: 2px solid red;
}
.errorAll label{
    color: red;
}
.errorAll input[type="submit"]{
    outline: none;
}
.errorAll .username{
    outline: 2px solid red;
}
.errorAll .userLabel{
    color: red;
}
.errorUser .userLabel{
    color: red;
}
.errorUser .username{
    outline: 2px solid red;
}
.username{
    margin-bottom: 20px;
}
.errorEmail input[placeholder="电话号码"]{
    outline: 2px solid red;
}
input[type="button"]{
    cursor: pointer;
}
.errorEmail label:nth-child(1){
    color:red;
}
.errorPassword .passwordWrapper input{
    outline: 2px solid red;
}
.errorPassword .label{
    color: red;
}
.signUpWrapper{
    margin-top: 20px;
    
}
.signUpWrapper p{
    margin: 0;
}
.signUpWrapper>p>a{
    margin: 0;
}