.wrapper{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    margin-top: 40px;

}
.mainWrapper{
    grid-area: m;
    width: 80%;
    height: 100%;
    margin-top: 35px;
    border-radius: 5px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #202229;
}