.wrapper{
    display: flex;
    width: 280px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}
.wrapper:hover img{
    background: #d1d1d1;
}
.wrapper img{
    width: 100%;
    background-size: cover;
    border-radius: 5px;
}
h3{
    color: #d1d1d1;
}