.wrapper{
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navLink{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
}
.logoutWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 100px;
    cursor: pointer;
}   
.logoutWrapper p{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f47640;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0 0 5px 5px;
}