.wrapper{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: end;
    justify-content: center;
}
.searchInput{
    background: transparent;
    outline: none;
    border: 2px solid #292C33;
    border-radius: 5px;
    padding: 10px;
}
.searchInput::placeholder{
    color: black;
}
.nav{
    color: black;
    margin: 10px;
}
.box{
    display: flex;
    width:auto;
    cursor: pointer;
    padding-left: 10px;
    border-top: .1px solid #292C33;
    
}
.wrapper span{
    position: absolute;
    display: flex;
    margin-right: 5px;
    cursor: pointer;
    
}
.resualtWrapper{
    display: flex;
    background-color: aliceblue;
    width: 190px;
    flex-direction: column;
    position: absolute;
    top: 50px;
    z-index: 9999;
    border-radius: 5px;
}